
<h2>Login Page</h2>

<fieldset>
  <legend>Oauth</legend>
  <p>
    <button  class="btn btn-primary" ng-click="anonymousLogin()">Anonymous</button>
    <button  class="btn btn-primary" ng-click="oauthLogin('facebook')">Facebook</button>
    <button  class="btn btn-primary" ng-click="oauthLogin('google')">Google</button>
    <button  class="btn btn-primary" ng-click="oauthLogin('twitter')">Twitter</button>
    <button  class="btn btn-primary" ng-click="oauthLogin('github')">GitHub</button>
  </p>
</fieldset>

