<section class="hero">
  <div class="hero-inner">
    <span ng-bind="info.fullname" class="info info-fullname"></span>
    <span ng-bind="info.Tagline" class="info info-tagline"></span>
    <span ng-bind="info.description" class="info info-description"></span>
  </div>
</section>

